//EDITNAME
.profile-header {
    color: #fff;
    margin-bottom: 2rem;

    &__edit-button{
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        font-weight: bold;
        padding: 10px;
    }
}

//MODAL
.modal__content{
    box-sizing: border-box;
    background-color: white;
    width: 400px;
    margin: 3rem auto 0 auto;
    padding: 2rem;

    h2{color: #2c3e50}

    &--wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &-input{
            display: flex;
            align-items: center;
            gap: 10px;

            label{
                display: inline-block;
                width: 100px;
                color: black;
            }
        }
    }

    &--buttons{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;

        &__save-btn, &__cancel-btn{
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            border-color: #00bc77;
            background-color: #00bc77;
            color: #fff;
        }
    }
}